<main class="content py-12">
    <nav class="mt-10 mr-5">
        <ul>
            <li>
                <a class="mb-5" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a class="mb-5" routerLink="/reviews" routerLinkActive="active">Reviews</a>
            </li>
            <li>
                <a class="mb-5" routerLink="/games" routerLinkActive="active">Games</a>
            </li>
            <li>
                <a class="mb-5" routerLink="/browse" routerLinkActive="active">Browse</a>
            </li>
        </ul>
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>
</main>
