<h2 class="mt-20 mb-10 text-4xl	text-white">{{ urlIsLogin ? 'Log in' : 'Sign in'}}</h2>
<form #ngForm="ngForm"[formGroup]="form" class="w-1/3" (ngSubmit)="onSubmit($event)">
    <input type="text" formControlName="email" class="h-12 w-full bg-black/30 pl-5 mb-5 rounded text-gray-400" placeholder="Email">
    @if(!urlIsLogin) {
        <input type="text" formControlName="username" class="h-12 w-full bg-black/30 pl-5 mb-5 rounded text-gray-400" placeholder="Username">
    }
    <input type="password" formControlName="password" class="h-12 w-full bg-black/30 pl-5 mb-5 rounded text-gray-400" placeholder="{{ urlIsLogin ? 'Password' : 'Create a password'}}">


    <button type="submit" class="h-12 w-full bg-white pl-5 rounded text-black" [disabled]="!form.valid" [class.opacity-10]="!form.valid" >
        @if(ngForm.submitted){
            <spin-loader [color]="'gray'" [size]="'3'" ></spin-loader>
        } @else {
            {{ urlIsLogin ? 'Log in' : 'Sign in'}}
        }
    </button>
</form>