<main class="content pt-10 h-full">
    <nav class="mt-10 mr-5">
        <ul>
            <li>
                <a class="mb-5" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a class="mb-5" routerLink="/reviews" routerLinkActive="active">Reviews</a>
            </li>
            <li>
                <a class="mb-5" routerLink="/games" routerLinkActive="active">Games</a>
            </li>
            <li>
                <a class="mb-5" routerLink="/browse" routerLinkActive="active">Browse</a>
            </li>
        </ul>
    </nav>
    <!-- Componente para cargar las distintas secciones -->
</main>
<router-outlet></router-outlet>